// colors
$color-primary: #faa927;
$color-primary-light: #facf8b;
$color-primary-dark: #cc8e2a;

$color-gray: #0d0902;
$color-gray-dark: #999;
$color-gray-mid: #f5f5f5;
$color-gray-light: #fff7eb;
$color-white: #fff;
$color-black: #000000;

$color-grafit: rgb(50, 51, 55);

//Font

$font-size-s: 1.4rem;
$font-size-sm: 1.6rem;
$font-size-md: 2rem;
$font-size-l: 2.4rem;
$font-size-xl: 3.6rem;
$font-size-xxl: 5.2rem;

// Margin
$margin-bottom-xl: 4.8rem;

// footer
$overlay: linear-gradient(90deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));

// Responsive breakpoints
$bp-largest: 75em; // 1200px
$bp-large: 62.5em;
$bp-md: 50em; // 800px
$bp-sm: 37.5em; // 600px
