* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;

  @media only screen and (max-width: $bp-sm) {
    font-size: 50%;
  }
}
